.module-card {
  border-radius: 10px;
  background-color: #ffffff;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  border: 1px solid #e0e0e0;
}

.module-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

.module-icon {
  font-size: 48px;
}

.module-name {
  font-size: 18px;
  font-weight: 500;
}
.landing-wrapper {
  background: linear-gradient(to bottom right, #43cea2, #185a9d);
  width: 100%;
  height: 100vh;
}
